javascript:
  var cf_see_also = function(data){
    // jQuery code
    if(data.length > 0) {
      $.ajax({
        type: "GET",
        url: 'recommended_by=',
        data: {ids: data, recommended_by: 'see_also'},
      });
      return false;
    } else {
      console.log("Not work or id nil")
    }
  };
  function afterInitRees46() {
    var cart_product_ids = '#{ProductsInfo.new(@cart.try(:line_items) || []).product_ids_in_cart.to_json.html_safe}'
    REES46.addReadyListener(function () {
      $('.remove_single_from_cart_decrement').click(function () {
        if ($(this).next().text() == 1) {
          REES46.pushData('remove_from_cart', {
            item_id: '#{item.product_id}',
            price: '#{item.product.price}',
            is_available: '#{item.product.available?}',
            categories: '#{item.product.category_id}'
          });
        }
      });
    });

    REES46.addReadyListener(function () {
      $('.remove_single_from_cart_delete').click(function () {
        REES46.pushData('remove_from_cart', {
          item_id: '#{item.product_id}',
          price: '#{item.product.price}',
          is_available: '#{item.product.available?}',
          categories: '#{item.product.category_id}'
        });
      });
    });

    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'see_also',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        limit: 4
        }, cf_see_also);
    });
  }
