h2.text-center Thanks for your order 
h2.text-center Your Product Details

= link_to 'Back to store', root_path, class: 'btn btn-default'

javascript:
  function afterInitRees46() {
    REES46.addReadyListener(function () {
     REES46.pushData('purchase', [{
        item_id: '146',
        price: '134',
        is_available: '1',
        categories: ['24'],
        amount: 4
        },
        {
        item_id: '32',
        price: '5555',
        is_available: '1',
        categories: ['25'],
        amount: 1
        }], '16548');
    });
  }
