h2.text-center Thanks for your order 
h2.text-center Your Product Details


= link_to 'Back to store', root_path, class: 'btn btn-default'

javascript:
  function afterInitRees46() {
    var line_items = '#{ProductsInfo.new(Order.last.line_items).get_products_info.to_json.html_safe}'

    REES46.addReadyListener(function () {
       REES46.pushData('purchase', JSON.parse(line_items), '#{@order.id}');
    });
  }
