<div class="container">
  <div class="row">
    <h1 class="text-center">This is DashBoard for Admin</h1>
    <div class="col-md-6">
     <h2><%= link_to "Создать новую категорию", categories_path %></h2>
    </div>
    <div class="col-md-6">
       <h2><%= link_to "Создать новый продукт", products_path %></h2>
    </div>
  </div>
</div>
