#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.s_border {
  margin-top:10px;
  border: rgb(212, 212, 212) 1px solid;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.sh {
  font-size: 35px;
  margin-bottom: 15px;
  margin-top: 25px;
}
.text-right2 {
  padding-left: 85px;
}

.del {
  border-radius: 50%;
  border: 1px;
  height: 25px;
  background-color: none;
}

.del:hover {
  background-color: red;
  border-radius: 50%;
}

// QTY
.qt, .qt-plus, .qt-minus {
  display: block;
  float: left;
}

.qt {
  font-size: 19px;
  line-height: 10px;
  text-align: center;
  margin: 0 5px 0 5px;
}

.qt-plus, .qt-minus {
  background: #fcfcfc;
  border: none;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -ms-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
}

.qt-plus, .qt-minus {
  a {
    text-decoration: none !important;
  }
}
.qt-plus {
  line-height: 5px;
}

.qt-minus {
  line-height: 5px;
  font-size: 25px;
}

.cart-buttons {
  margin: 25px 0 45px 0;
}

.qty {
  padding: 5px 45px 0 60px;
}

.delete-inline, {
  display: inline;
}
.remove_single_from_cart_delete {
  display: inline-block;
}

.item-total {
  padding-left: 60px;
}
