// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// For link menu
.breadcrumb {
  padding: 0 !important;
  margin-bottom: 20px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: none !important;
}

// Child Category products slider
.flickity-page-dots {
  display: none;
}

.checklist.categories {
  li {
    margin: 10px 0 0 0;
  }
}


.category_title {
  padding-left: 14px;
}
