// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar{
	float:left;
	background:#fff;
	width:275px;
	padding:13px 0 0 45px;
	height: auto;
	border-right:1px solid #eee;
}
#sidebar h3{
	color:#262626;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
	padding:35px 0 10px 0;
	letter-spacing:1px;
	clear:both;
}
#cart{padding:0px;}
#cart .empty{
	font-style:italic;
	color:#a0a3ab;
	font-size:14px;
	letter-spacing:1px;
}
#sidebar .checklist{
	padding:0;
}

// Product image for fornt page

.thumbnail {
   width: 290px;
   height: 350px;
   border: 1px solid #F7F6F6 !important;
   border-radius: 0px !important;
 }

.thumbnail > img {
   width: 200px;
   height: 200px;
 }


.caption {
   height: 100px;
   position: absolute;
   bottom: 30px;

  h3 {
   font-size: 17px;
   margin: 2px;
  }
}

.clearfix {
  height: 37px;
  margin: 7px !important;
}

.thumbnail:hover {
  border-color: #20B2AA !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}


.breadcrumb {
    padding: 0 !important;
    margin-bottom: 20px;
    list-style: none;
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: none !important;
}
