// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// style.css.scss

.form-horizontal .form-group {
  margin-left: 0 !important;
}

.clr {
  clear: both;
}

.remove_padding {
  padding-left: 0 !important;
}

.form-group.required .control-label:after {
  content:" *";
  color:red;
}

#line_item_size_id {
  margin-top: 10px;
}
