// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// style.css.scss

.form-horizontal .form-group {
  margin-left: 0 !important;
}

.clr {
	clear: both;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 350px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.breadcrumb-title {
  width: 400px;
  height: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// // Product show

.itemTitle {
  margin-bottom: 25px;
  text-align: center;
}

.itemDescription {
  padding: 25px;
  margin-top: 25px
}

.itemP {
  padding: 15px;
  margin-bottom: 15px;
}

.price {
font-size: 25px;
}

.itemAddToCard {
  font-size: 18px;
  background: white;
  padding: 15px 49px;
  border: 1px solid black;
  border-radius: 7px;
  -webkit-transition: background .1s, box-shadow .1s, border-color .2s;
  -moz-transition: background .1s, box-shadow .1s, border-color .2s;
  -o-transition: background .1s, box-shadow .1s, border-color .2s;
  transition: background .1s, box-shadow .1s, border-color .2s;
  margin: 20px 190px 0 200px;
}

.itemAddToCard:hover {
  text-decoration: none;
  border-color: #f21158;
}
