// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// style.css.scss

.form-horizontal .form-group {
  margin-left: 0 !important;
}

.clr {
	clear: both;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 350px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.breadcrumb-title {
  width: 400px;
  height: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
