// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Slide show */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 550px;
    width: 100%
}
.carousel-control.right {
    border-top-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

// Product image for fornt page

.thumbnail {
   width: 290px;
   height: 350px;
   border: 1px solid #F7F6F6 !important;
   border-radius: 0px !important;
 }

.thumbnail > img {
   width: 200px;
   height: 200px;
 }


.caption {
   height: 100px;
   position: absolute;
   bottom: 30px;

  h3 {
   font-size: 17px;
   margin: 2px;
  }
}

.clearfix {
  height: 37px;
  margin: 7px !important;
}

.thumbnail:hover {
  border-color: #20B2AA !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

// 2nd nev bar
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 35px;
    background-color: rgba(248, 248, 248, 1);
    border-width: 1px;
    border-radius: 4px;
    // width: 580px !important;
    // margin-left: auto !important;
    // margin-right: auto !important;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(242, 242, 242, 1);
    background-color: rgba(237, 0, 0, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(161, 57, 16, 0.36);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #a13910;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #a13910;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #a13910;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}
