= link_to product.title, product_path(product)
= link_to image_tag(product.image.thumb, class: "img-responsive"), product_path(product)
= number_to_currency(product.price)

javascript:
  var cf_popular = function(data){
    // jQuery code
    if(data.length > 0) {
      $.ajax({
        type: "POST",
        url: 'get_urls',
        data: {ids: data, recommender: 'popular'},
      });
      return false;
    } else {
      console.log('popular')
    }
  };

  var cf_recently_viewed = function(data){
    // jQuery code
    if(data.length > 0) {
      $.ajax({
        type: "POST",
        url: 'get_urls',
        data: {ids: data, recommender: 'recently_viewed'},
      });
      return false;
    }
  };

  var cf_interesting = function(data){
    // jQuery code
    if(data.length > 0) {
      $.ajax({
        type: "POST",
        url: 'get_urls',
        data: {ids: data, recommender: 'interesting'},
      });
      return false;
    }
  };

  function afterInitRees46() {
    var cart_product_ids = '#{ProductsInfo.new(@cart.line_items).product_ids_in_cart.to_json.html_safe}'
    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'popular',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        category: '#{@category.id}',
        limit: 4
      }, cf_popular );
    });

    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'recently_viewed',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        limit: 4
      }, cf_recently_viewed);
    });

    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'interesting',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        limit: 4
      }, cf_interesting);
    });
  }
