/ .thumbnail.product
/   = link_to image_tag(product.image.medium), product_path(product)
/   .caption
/     h3= link_to product.title.capitalize, product_path(product)
/   .clearfix
/     .pull-left
/       p.lead.text-left= number_to_currency(product.price,  unit: "₽", precision: 0)
/     .pull-right
/       = print_stock(product)
/       - if product.stock == 0
/         button.btn.disabled disabled="disabled"
/             = "OUT OF STOCK"


.product.img
  .productImg
    img.img.lazy
      = link_to image_tag(product.image.thumbs), product_path(product)

  .titleAndPrice
    .title.h2
      = link_to product.title.upcase, product_path(product)
    .price.text-center
      = number_to_currency(product.price,  unit: "₽ ", precision: 0)

javascript:
  var cf_popular = function(data){
    // jQuery code
    if(data.length > 0) {
      $.ajax({
        type: "POST",
        url: 'cat_urls',
        data: {ids: data, recommender: 'popular'},
      });
      return false;
    } else {
      console.log('popular')
    }
  };

  var cf_recently_viewed = function(data){
    // jQuery code
    if(data.length > 0) {
      $.ajax({
        type: "POST",
        url: 'cat_urls',
        data: {ids: data, recommender: 'recently_viewed'},
      });
      return false;
    }
  };

  var cf_interesting = function(data){
    // jQuery code
    if(data.length > 0) {
      $.ajax({
        type: "POST",
        url: 'cat_urls',
        data: {ids: data, recommender: 'interesting'},
      });
      return false;
    }
  };

  function afterInitRees46() {
    var cart_product_ids = '#{ProductsInfo.new(@cart.line_items).product_ids_in_cart.to_json.html_safe}'
    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'popular',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        category: '#{@category.id}',
        limit: 4,
        modification: '#{@category.human_categories_industry}'
      }, cf_popular );
    });

    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'recently_viewed',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        limit: 4,
        modification: '#{@category.human_categories_industry}'
      }, cf_recently_viewed);
    });

    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'interesting',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        limit: 4,
        modification: '#{@category.human_categories_industry}'
      }, cf_interesting);
    });
  }
