.col-md-4.col-sm-4.col-xs-6
  = link_to image_tag(product.image.thumbs), product_path(product, recommdend_by: @recommender), class: "img-fit"
  .titleAndPrice
    .title
      = link_to product.title.upcase, product_path(product)
    .price
      = number_to_currency(product.price,  unit: "₽ ", precision: 0)
  br

javascript:
  var cf_popular = function(data){
    // jQuery code
    if(data.length > 0) {
      $.ajax({
        type: "POST",
        url: 'cat_urls',
        data: {ids: data, recommender: 'popular'},
      });
      return false;
    } else {
      console.log('popular')
    }
  };

  var cf_recently_viewed = function(data){
    // jQuery code
    if(data.length > 0) {
      $.ajax({
        type: "POST",
        url: 'cat_urls',
        data: {ids: data, recommender: 'recently_viewed'},
      });
      return false;
    }
  };

  var cf_interesting = function(data){
    // jQuery code
    if(data.length > 0) {
      $.ajax({
        type: "POST",
        url: 'cat_urls',
        data: {ids: data, recommender: 'interesting'},
      });
      return false;
    }
  };

  function afterInitRees46() {
    var cart_product_ids = '#{ProductsInfo.new(@cart.line_items).product_ids_in_cart.to_json.html_safe}'
    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'popular',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        category: '#{@category.id}',
        limit: 4,
        modification: '#{@category.human_categories_industry}'
      }, cf_popular );
    });

    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'recently_viewed',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        limit: 4,
        modification: '#{@category.human_categories_industry}'
      }, cf_recently_viewed);
    });

    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'interesting',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        limit: 4,
        modification: '#{@category.human_categories_industry}'
      }, cf_interesting);
    });
  }
