javascript:
  var cf_popular = function(data){
    // jQuery code
    if(data.length > 0) {
      $.ajax({
        type: "POST",
        url: 'store/font_products_urls',
        data: {ids: data, recommender: 'popular'},
      });
      return false;
    }
  };

  var cf_interesting = function(data){
    // jQuery code
    if(data.length > 0) {
      var url = 'products_urls';
      $.ajax({
        type: "POST",
        url: 'store/font_products_urls',
        data: {ids: data, recommender: 'interesting'},
      });
      return false;
    }
  };

  function afterInitRees46() {
    var cart_product_ids = '#{ProductsInfo.new(@cart.line_items).product_ids_in_cart.to_json.html_safe}'
    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'popular',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        // limit: 12
        }, cf_popular );
      });

    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'interesting',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        limit: 4,
        }, cf_interesting);
    });
  }
