javascript:
  var cf_popular = function(data){
    // jQuery code
    if(data.length > 0) {
      var url = 'store/popular_urls';
      $.ajax({
        type: "POST",
        url: 'store/popular_urls',
        data: {ids: data, recommender: 'popular'},
      });
      return false;
    }
  };
  function afterInitRees46() {
    var cart_product_ids = '#{ProductsInfo.new(@cart.line_items).product_ids_in_cart.to_json.html_safe}'
    REES46.addReadyListener(function () {
      REES46.recommend({
        recommender_type: 'popular',
        cart: JSON.parse(cart_product_ids).map(function(el){
          return el.cart
        }),
        limit: 4
        }, cf_popular );
      });
  }
