javascript:
  $(function(){
    var callback;
    if (typeof(afterInitRees46) === 'function') {
      callback = afterInitRees46
    } else {
      callback = function() {}
    }

    function initREES46 () {
      var user_data = JSON.parse('#{j current_user.to_json(only: [:id, :email]).html_safe}');
      REES46.init('357382bf66ac0ce2f1722677c59511', user_data, callback);
    };

    var script = document.createElement('script');
    script.src = '//cdn.rees46.com/rees46_script2.js';
    script.async = true;
    script.onload = function() {
    var cart_product_ids = '#{ProductsInfo.new(@cart.try(:line_items) || []).product_ids_in_cart.to_json.html_safe}'
    initREES46();
      $('.rec-type').each(function() {
        var id = $(this).attr('id')
        var num = $(this).attr('limit')
        var modi = $(this).attr('modification')
        REES46.addReadyListener(function () {
          REES46.recommend({
            recommender_type: id,
            item: '#{@product.try(:id)}',
            cart: JSON.parse(cart_product_ids).map(function(el){
              return el.cart
            }),
            limit: num,
            modification: modi
          },function(data) {
              $.ajax({
                type: 'GET',
                url: 'recommendations',
                data: {ids: data, recommended_by: id},
              });
            });
        });
      })
    };
    $('head')[0].appendChild(script);
  });
