javascript:
  $(function(){
    var callback;
    if (typeof(afterInitRees46) === 'function') {
      callback = afterInitRees46
    } else {
      callback = function() {}
    }
    
    function initREES46 () {
      var email = #{user_signed_in? ? current_user.email : 'null'};
      var user_info = new Object();
      var user = #{user_signed_in? ? current_user.id : 'null'};
      user_info = {id: user, email: email};

        if (user === null ) {
          user_info = null;
        }
      REES46.init('357382bf66ac0ce2f1722677c59511', user_info, callback);
    };

    var script = document.createElement('script');
    script.src = '//cdn.rees46.com/rees46_script2.js';
    script.async = true;
    script.onload = function() {
    initREES46();
    };
    $('head')[0].appendChild(script);
  });
